Saved/**
*.log
Saved/webcache/Local Storage/https_www.google.co.uk_0.localstorage
Saved/webcache/Cache/data_0
Saved/webcache/Cache/data_1
Saved/webcache/Cache/data_2
Saved/webcache/Cookies
Saved/webcache/Cache/index
